pipeline/master_PL_Incremental_load.json
{
	"name": "master_PL_Incremental_load",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Exisiting_WaterMark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from config.tbl_watermark",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DSAzureSql_inc_source",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_IncrementalLoad_watermark",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Exisiting_WaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Exisiting_WaterMark').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute_child_incrementalLoad_watermarkPL",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_final-incrementalLoad",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"P_TableName": {
										"value": "@item().SourceTable",
										"type": "Expression"
									},
									"P_ColumnName": {
										"value": "@item().WaterMarkColumn",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Incremental_load_pipeline"
		},
		"annotations": []
	}
}